In [1]:
import pandas as pd
import mysql.connector

In [6]:
word_if = "/home/ryan/Downloads/Words - Words.csv"
word_of = "words.json"

quote_if = "/home/ryan/Downloads/Words - Quotes.csv"
quote_of = "quote.json"

connection = "mysql://localhost:3009/wurdee"

In [17]:
word_df = pd.read_csv(word_if, names=['word', 'pos', 'definition']).dropna()
word_df['pos'] = 'noun'
word_df.to_json(word_of, orient='records')
word_df.head()

             word   pos                                         definition
318    Astrophile  noun                           A person who loves stars
319  Opacarophile  noun                         A person who loves sunsets
320       Anemoia  noun            nostalgia for a time you've never known
321      Kenopsia  noun  the eerie, forlorn atmosphere of a place that'...
322     Heartworm  noun  a relationship or friendship that you can't ge...

In [12]:
quote_df = pd.read_csv(quote_if, names=['source','quote']).dropna()
quote_df.head()

         source                                              quote
0  Isaac Asimov  The saddest aspect of life right now is that s...
1  Albert Camus                        I rebel; therefore I exist.
2   Victor Hugo  You who suffer because you love, love still mo...
3      Voltaire  God is a comedian playing to an audience too a...
4   John Lennon  Everything is going to be okay in the end, and...